.navbar{
    display: flex;
    width: 100%;
}
.navButton{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 50%;
}
.navContainter{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.navRedirects{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5%;
    color: black;
    font-size: 1.4rem;
}
.logo{
    width: 100%;
    color: black;
    text-decoration: none !important;
    font-size: 1.4rem;
    display: flex;
    flex-direction: row;
    margin-right: 2%;
}
html {
	scroll-behavior: smooth;
}
.headerLogo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    margin-right: 0%;
}
