.featuresContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.advanceCharts{
    margin-top: 0%;
    margin-left: 1%;
    margin-right: 1%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.advanceChartsImg{
    display: flex;
    justify-content: left;
    align-items: center;

}
.advanceChartsText, .timeSeriesForecastingText{
    text-align: left;
}
/* .advanceChartsImg, .advanceChartsText, .timeSeriesForecastingText, .timeSeriesForecastingImg{
    flex-grow: 0;
} */

.timeSeriesForecasting{
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 10%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}
.timeSeriesForecastingImg{
    display: flex;
    justify-content: right;
    align-items: center;
}
.timeSeriesForecastingText{

}